*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

main {
   max-width: 513px;
   margin: auto;
}

.arrow-hack {
   position: absolute;
   border: 2px solid #666;
   height: 47px;
   width: 362px;
   left: -2px;
   top: -2px;
}

nav {
   font-size: 1.5rem;
}

nav.breadcrumb {
   width: 100%;
   position: relative;
   background-color: #fff;
   padding: 0;
   margin-top: 10px;
}

nav.breadcrumb ul {
   list-style: none;
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
}

nav.breadcrumb ul li a {
   color: #666;
   border-right-width: 0;
   text-decoration: none; 
   padding: 10px 0;
   background: white;
   position: relative;
   max-width: 140px;
   display: flex;
   align-items: flex-start;
   padding-left: 15px;
}

nav.breadcrumb ul li:not(:first-child) a {
   padding-left: 32px;
}

nav.breadcrumb ul li.selected a {
   border-left: 19px solid #ddd;
   background-color: #ddd;
}

nav.breadcrumb ul li a::after { 
  content: ""; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 19px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}
nav.breadcrumb ul li.selected a::after { 
   border-left: 19px solid #ddd;
}


.breadcrumb li a::before {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 20px solid #666;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:last-child {
   padding-right: 20px;
}

.breadcrumb li:last-child a {
   padding-left: 13px !important;
}

nav div.login {
   position: absolute;
   right: 0px;
   display: flex;
}

.main-info {
   max-height: 200px;
   margin: 15px -15px;
   width: 100%;
   display: flex;
}

.main-info img {
   width: 100%;
   height: auto;
}

.description {
   overflow-y: auto;
   flex: 1;
   height: 100%;
   font-size: 1.3rem;
   margin-right: 15px;
}

.tab-content .description {
   margin-right: 0;
}

section.detail {
   margin-left: -15px;
   margin-right: 15px;
   font-size: 1.3rem;
}

section.detail .content {
   border: 1px solid #dee2e6;
   border-top: 1px solid transparent;
   height: 200px;
}

section.detail .content .row {
   height: 200px;
   width: 100%;
   margin: 0;
}

section.detail .content .row .list-options {
   margin: 10px;
   margin-right: 0;
}

.search-box {
   position: relative;
   float: right;
   flex: 1;
   padding-left: 25px;
}

.search-box .fa {
   position: absolute;
   padding: 8px;
   pointer-events: none;
   color: #666;
}

.search-box input {
   padding-left: 25px;
   font-size: 1.3rem;
   color: #666;
   border-radius: 15px;
}

.tab-content h3 {
   margin: 20px;
   font-size: 4rem;
   font-weight: bold;
}

.list-group-item.active {
   color: #666;
   background-color: #ddd;
   border-color: #ddd;
}

.list-group-item.active::after{
  content: ""; 
  display: block; 
  width: 0; 
  height: 0;
   border-top: 19px solid transparent;
   border-bottom: 19px solid transparent;
  border-left: 19px solid #ddd;
  position: absolute;
  top: -2px;
  left: 100%;
  z-index: 2;
}


.stars {
   float: right;
   font-size: 1.8rem;
   margin: 10px 20px;
   cursor: pointer;
}

.stars .checked {
   color: gold;
}

.stars span:hover {
   color: gold;
}


@media only screen and (max-width : 767px) {
   .main-info {
      max-height: inherit;
   }
   
   .description {
      margin: 0;
      height: inherit;
   }
   
   section.detail {
      height: 440px;
   }
   
   .list-group {
      margin-right: 20px;
      margin-top: 10px;
   }
}

